.logo {
    padding-bottom: 5px;
}
.nav {
    padding-bottom: 10px;
}
.nav button {
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
}
h1 {
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
}

h2 {
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.groups .group, .ungroupedPigsLabel {
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.content button {
    font-size: 12px;
}
label {
    display:block;
}
.labelPlaceholder {
    height:1em;
}

.requestedSets {
    padding-bottom: 10px;
}

.field {
    padding-bottom: 10px;
}

.field.groupSelect .ui-button { 
    margin-left: -1px;
}
.field.groupSelect .ui-button-icon-only .ui-button-text {
    padding: 0.35em;
} 
.field.groupSelect .ui-autocomplete-input {
    margin: 0;
    padding: 0.48em 0 0.47em 0.45em;
    font-size: 12px;
}

ul.pigs {
    padding-top: 5px;
}

ul.pigs li.pig {
    font-size: 12px;
    /*display: inline;*/
    list-style-type: none;
    padding-top: 0px;
    padding-bottom: 0px;
}

ul.pigs li.pig .editPig {
    font-size: 10px;
}

ul.pigs li.pig .comment {
    color: #708090;
}

ul.pigs li.pig .editPig {
    font-size: 10px;
}

.pigSelector .group button {
    font-size: 10px;
}

.pigWithSeletedTissueAvailable {
    color: green;
}