.grid_12
  - if isNew
    %h1 New Group
  - else
    %h1 Edit Group
    %input.id(type="hidden" value=group._id)
    %input.rev(type="hidden" value=group._rev)
    - if group.baseline
      %input.name(type="hidden" value=group.name)
      %input.baseline(type="hidden" value="true")
  .field
    - if group.baseline
      %label Name: ${group.name}
    - else
      %label Name
      %input.name(value=group.name)
  %label Tissues
  .tissueSelect
    %ul.tissues
      - group.tissues.each
        %li
          %input.tissue(value=it)
          %button.removeTissue Remove
  %button.addTissue Add Tissue
  .field
    %label Comment
    %textarea.comment= group.comment
  - if isNew
    %button.saveGroup Save Group
  - else
    %button.updateGroup Update Group
    - if !group.baseline
      %button.deleteGroup Delete Group