.grid_12
  %h1 Sacrifice pig
  .field
    %label Sac Date
    %input.sacDate(value=pig.sacDate)
  .field
    %label Pig Number
    %input.pigNumber(value=pig.pigNumber)
  .field.groupSelect
    %label Group
    %select.group
      %option(value="" selected) Select group
      - groups.each
        - if !it.baseline
          %option(value=it._id)= html.escape(it.name)
  .tissueSelect
  .field
    %label Comment
    %textarea.comment= html.escape(pig.comment)
  %button.savePig Save

