!!!
%html
  %head
    %title SlideTracker
    %meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    %link(rel="stylesheet" href="/style/reset.css")
    %link(rel="stylesheet" href="/style/grid.css")
    %link(rel="stylesheet" href="/style/app.css")
    %link(rel="stylesheet" href="/style/pepper-grinder/jquery-ui-1.8.2.custom.css")
    %script(type="text/javascript" src="/js/jquery-1.4.2.min.js")
    %script(type="text/javascript" src="/js/jquery-ui-1.8.2.custom.min.js")
    %script(type="text/javascript" src="/js/combobox.js")
    %script(type="text/javascript" src="/js/app.js")
    %script(type="text/javascript" src="/js/groups.js")
    %script(type="text/javascript" src="/js/pigs.js")
    %script(type="text/javascript" src="/js/sets.js")
    :css
    :javascript
  %body
    .container_12
      .logo.grid_6.prefix_3.suffix_3
        %img(src="/img/SlideTrackerLogo.png")
    .container_12
      .nav
        %button.grid_3.pending Pending Work
        %button.grid_2.groups Groups      
        %button.grid_2.sacrifice Sacrifice
        %button.grid_3.requestSets Request Sets
        %button.grid_2.search Search
    .content.container_12
      .message.grid_12
        %h1 Welcome
    .errorContent.container_12
